<!DOCTYPE html>
<html>
    
    <head>
        <title>Message App</title>
    </head>

    <body>
    <div class="toolbar">
        <h2>MessageApp</h2>
    </div>
    
    <div class="errors">
        <% if flash[:login_errors] %>
            <% flash[:login_errors].each do |error| %>
                <p> <%= error %> </p>
            <%end%>
        <%end%>
    </div>
   
    <div class="Messages">
        
        <% @messages.each do |message| %>
            <p> <%= message.message %></p>
        <% end %>

    </div>

    <form class="roomForm" action="/chat_rooms/1", method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="text" name="message[message]" placeholder="message"/>
        <input type="submit" name="submit">
    </form>

        
    </body>
  
    
    

</html>