$(".MessageList").append("<li style=\"list-style-type:none;\" class=\"Message\"><div class=\"body\"><%= j @message.body %></div><div class=\"sender\"><%= j @message.user.email %></div></li>")
$("#messageBody").val("")