<!DOCTYPE html>
<html>

    <head>
        <title>Message App</title>
        
    </head>

    <body>
        <div class="toolbar">
            <h2>MessageApp</h2>
            <h3>Back to login</h3>
            <%= link_to image_tag("BackToLogin.png"), "/", method: :GET %>
          
        </div>
    
    <div class="InputsForm">   
        <h1>Register</h1> 
        <form action="/users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
            <input type="email" name="user[email]" placeholder="Email">
            <input type="password" name="user[password]" placeholder="Password">
            <input type="password" name="user[confirm_password]" placeholder="Confirm_password">
            <input type="submit" name="submit" class="submit">
        </form>

        
    </div>

        
    </body>
  
    
    

</html>