<!DOCTYPE html>
<html>

    <head>
        <title>Message App</title>
    </head>

    <body>
          <div class="toolbar">
        <h2>MessageApp</h2>
    </div>
    
    <div class="registerForm">   
        <h1>Register</h1> 
        <form action="/users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
            <input type="email" name="user[email]" placeholder="email">
            <input type="password" name="user[password]" placeholder="password">
            <input type="password" name="user[confirm_password]" placeholder="confirm_password">
            <input type="submit" name="submit" class="submit">
        </form>

        <%= link_to "Back to login", "/" %>
    </div>

        
    </body>
  
    
    

</html>