// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.MessageList {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
 
  text-align: center;

}




.Message .body{
	border: 2px solid black;
	height: 80%;
	wigth: 100%;
}

