
.mainBlock{
	text-align: center;
}

.MessageList {
  
  overflow: auto;
  width: 100%;
  text-align: center;
  margin: 5px;

}

.Message {
	position: relative;
	border-radius: 5px;
	border: 1px solid #666600;
	width: 75%;
	margin: 10px;


}

.Message .body{
	text-align: left;
	heigth: 75%;
	word-wrap: break-word;
	background-color: #ffff99;
}

.Message .sender{
	border-top: 1px groove #e6e600;
	heigth: 25%;
	text-align: right;
	background-color: #ffffe6;
}


#messageForm {
	
}




#messageForm input{
	position: relative;
	top: 0%;
	height: 50px;
    width:50px;
}
